<!DOCTYPE> 
<head>
  <title>Ulysses | <%= @title %></title>
	<%= stylesheet_link_tag 'custom', 'application' %>
	<%= javascript_include_tag 'jquery', 'application' %>
	<%= javascript_include_tag 'dropit.js', 'application' %>
	<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
</head>
<body>
  <%= yield %>
</body>