<!DOCTYPE> 
<head>
  <title>Ulysses | <%= @title %></title>
	<meta property="og:url" content="<%= @fb_url %>" />
	<meta property="og:title" content="<%= @fb_title %>" />
	<meta property="og:video" content="<%=@fb_video %>" />
	<meta property="og:image" content="<%= @fb_image %>" />
	<meta property="og:video:height" content="360" />
  <meta property="og:video:width" content="640" />
  <meta property="og:video:type" content="application/x-shockwave-flash" />
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
	
	<%= stylesheet_link_tag 'custom', 'application' %>
	<%= javascript_include_tag 'jquery', 'application' %>
	<%= javascript_include_tag 'dropit.js', 'application' %>
	<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
</head>
<body>
	<%= yield %>
</body>