<!DOCTYPE> 
<head>
  <title>Ulysses | <%= @title %></title>
	<meta property="og:url" content="<%= @fb_url %>" />
	<meta property="og:title" content="<%= @fb_title %>" />
	<meta property="og:video" content="<%=@fb_video %>" />
	<meta property="og:image" content="<%= @fb_video %>" />
	<meta property="og:video:height" content="360" />
  <meta property="og:video:width" content="640" />
  <meta property="og:video:type" content="application/x-shockwave-flash" />
	
	<%= stylesheet_link_tag 'custom', 'application' %>
	<%= javascript_include_tag 'jquery', 'application' %>
	<%= javascript_include_tag 'dropit.js', 'application' %>
	<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
</head>
<body>
	<div id="fb-root"></div>

	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=260587030790651";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<%= yield %>
</body>