<!DOCTYPE> 
<head>
  <title>Ulysess | <%= @title %></title>
	<%= stylesheet_link_tag 'custom', 'application' %>
	<%= javascript_include_tag 'jquery', 'application' %>
	<%= javascript_include_tag 'dropit.js', 'application' %>
</head>
<body>
  <%= yield %>
</body>