<div class="container">
  <div class="img-background" style="background-image: url('<%= @video.picture %>');">
    <div class="img-filter">
      <header>
        <nav>
          <div class="nav-left">
            <a id="about" href="#">about</a>
            <a id="contact" href="#">contact</a>
            <p id="about-text">Here is some about text</p>
            <p id="contact-text">axelrod.jeremy@gmail.com</p>
          </div>
          <div class="nav-right">
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fulysses-videos.herokuapp.com" class="facebook" target="_blank"></a>   
            <a href="https://twitter.com/share" class="twitter" target="_blank"></a>
          </div>
        </nav>
      </header>

      <div class="content">
        <div>
          <a class="icon" href="#"></a>
        </div>
        <div class="video">
          <iframe id="vimeo-player" src="//player.vimeo.com/video/<%= @vimeo_video_id %>?portrait=0&byline=0&title=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="title"> 
          <span>Ulysses is</span>
          <ul class="menu"> 
            <li>
              <a href="#"><%= @video.title %></a>
              <ul>
                <li><a class="text-center" href="/<%= @video.id %>"><%= @video.title %></a></li>
                <% @videos.each do |video| %>
                  <% unless @video == video %>
                     <li><a class="text-center" href="/<%= video.id %>"><%= video.title %></a></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="second-container">
    <div class="comments">
      <h3>Comments</h3>
      <% @comments.each do |comment| %>
        <div class="name"><%= comment.name %></div>
        <div class="body"><%= simple_format(comment.body) %></div>
      <% end %>
      <% form_for @comment, url(:comments, :create) do |f| %>
        <%= f.error_messages %>
        
        <p>
          <%= f.label :name, id: "label-name" %>
          <%= f.text_field :name %>
        </p>
        
        <p>
          <%= f.text_area :body %>
        </p>
        
        <%= f.hidden_field :video_id, value: @video.id %>
        
        <p>
          <%= f.submit "Create Post", class: "button" %>
        </p>
      <% end %>
    </div>
    <div class="other-videos">
      <h3>Ulysses is ... </h3>
      <% @videos.each do |video| %>
        <div class="individual-videos" style="background-image: url('<%= video.picture %>');">
          <div class="individual-filter" >
            <h4><%= video.title %></h4>
          </div>
        </div>
      <% end %>
  </div>
</div>
<img style="display:none" src="/images/play_rings_highlighted.png"/>
<script>
  $(document).ready(function() {
    $('.menu').dropit();
    $('.icon').click(function() {
      $('.video').toggle();
      return false; 
     });
    $('.video').click(function() {
      $('.video').toggle();
      return false; 
    });
    $('#about').click( function() {
      $('#contact-text').hide();
      $('#about-text').toggle();
    });
    $('#contact').click( function() {
      $('#about-text').hide();
      $('#contact-text').toggle();
    });
    $('.individual-filter').hover( 
      function() {
        $(this).css("background-color", "transparent");
      },
      function() {
        $(this).css("background-color", "rgba(191, 191, 191, 0.5)");
      }
    );
  });
</script>
