<div class="container">
  <header>
    <nav>
      <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fulysses-videos.herokuapp.com" class="facebook" target="_blank"><img src="/images/facebook.png" /></a>   
      <a href="#"><img src="/images/twitter.png" /></a>
    </nav>
  </header>

  <div class="content">
    <div class="video">
      <iframe id="vimeo-player" src="//player.vimeo.com/video/<%= @vimeo_video_id %>?portrait=0&byline=0&title=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
   <div class="title"> Ulysses is 
      <ul class="menu"> 
        <li>
         <a href="#"><%= @video.title %></a>
          <ul>
           <li><a class="text-center" href="/<%= @video.id %>"><%= @video.title %></a></li>
            <% @videos.each do |video| %>
              <% unless @video == video %>
                 <li><a class="text-center" href="/<%= video.id %>"><%= video.title %></a></li>
              <% end %>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>

    <div class ="nav-container">
      <nav>
        <a href="#">Contact</a>
        <a href="#">About</a>
      </nav>
    </div>

    <div class="comments-container">
      <div class="comments">
        <h3>Comments</h3>
        <% form_for @comment, url(:comments, :create) do |f| %>
          <%= f.error_messages %>
          
          <p>
            <%= f.label :name %>
            <%= f.text_field :name %>
          </p>
          
          <p>
            <%= f.text_area :body %>
          </p>
          
          <%= f.hidden_field :video_id, value: @video.id %>
          
          <p>
            <%= f.submit "Create Post", class: "button" %>
          </p>
        <% end %>
        <% @comments.each do |comment| %>
          <div class="name"><%= comment.name %></div>
          <div class="body"><%= comment.body %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<img style="display:none" src="/images/play_rings_highlighted.png"/>
<script>
  $(document).ready(function() {
    $('.menu').dropit();
  });
</script>
